*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* sheard styles */ 

nav,
.banner-contant{
    max-width: 1200px;
    margin: auto;
}
.display-flex{
    display: flex;
}

.bg-color{
     background-color: #1A0B2E; 
} 

.text-leaniar-graydiand{
    background-image: linear-gradient(75deg,#F7E93F ,#FB09B4 ,#9100F8 );
    background-clip: text;
    color: transparent;
}
.white{
    color: #FFFFFF;
}
.btn{
   background-image: linear-gradient(75deg,#F7E93F ,#FB09B4 ,#9100F8 );
   border: none;
   padding: 12px 16px;
   border-radius: 50px;
   color: #FFFFFF;
   font-weight: 600;
}
/* nav related styls */
nav{
    justify-content: space-between;
    padding: 20px;
}

.band-name{
    color: #FFFFFF;
}

.nav-links{
    align-items: center;
    list-style: none;
    gap: 40px;
}

.nav-links a{
    text-decoration: none;
    color: #FFFFFF;
}

/* bennar related styles */

.bennar{
    text-align: center;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    min-width: 1600px;
    min-height: 750px;
    color: #FFFFFF;
}

.banner-contant{
     /* margin: 111px 517px 91px 533px ;  */
    /* max-width: 550px; */
     /* margin: 0 auto; */
         /* background-color: red;    */
        
}

.bennar .microphone-section{ 
     /* max-width: 550px;    */
      /* margin-top: 20px;  */
    position: relative;
     display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 40px;
   
   
}

.rounded-shap{
     width: 100%; 
     max-width: 420px; 
    margin-top: 50px;
    height: auto;
    /* margin: 30px auto;  */
    
}

.microphone{
    width: 116px;
    margin-top: 30px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.microphone-section span{
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 50px;
    color: #1A0B2E;
    font-size: 1.12rem;
    font-weight: 600;
    position: absolute;
    left: 685px;
    top: 60px;
}

/* .techWabe-section{
    max-width: 550px; */
}

.techWabe-section h1{
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.techWabe-section p{
    margin-bottom: 24px;
}
