*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* sheard styles */ 

nav,
.banner-contant,
.Podcast-section,
.techwabe-containar,
.Featured-Episodes,
.Meet-the-Host{
    max-width: 1200px;
    margin: auto;
}
.display-flex{
    display: flex;
}

.bg-color{
     background-color: #1A0B2E; 
} 

.text-leaniar-graydiand{
    background-image: linear-gradient(75deg,#F7E93F ,#FB09B4 ,#9100F8 );
    background-clip: text;
    color: transparent;
}
.white{
    color: #FFFFFF;
}
.btn{
   background-image: linear-gradient(75deg,#F7E93F ,#FB09B4 ,#9100F8 );
   border: none;
   padding: 12px 16px;
   border-radius: 50px;
   color: #FFFFFF;
   font-weight: 600;
   cursor: pointer;
}

.btn-1{
   background-color: #bfb6ca00;
   border:2px solid #00FF88;
   padding: 12px 16px;
   border-radius: 50px;
   color: #00FF88;
   font-weight: 600;
      cursor: pointer;
}
p{
     color: #ffffff71;
}

/* nav related styls */
nav{
    justify-content: space-between;
    padding: 20px;
}

.band-name{
    color: #FFFFFF;
}

.nav-links{
    align-items: center;
    list-style: none;
    gap: 40px;
}

.nav-links a{
    text-decoration: none;
    color: #FFFFFF;
}


.section-heading{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}

/* bennar related styles */

.bennar{
    text-align: center;
    background-image: url(./assets/hero-bg.png); 
    max-height: 760px;
     /* border: 2px solid red;  */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    
}

.banner-contant{
     /* border: 2px solid red; */
         
}

.bennar .microphone-section{ 
     /* max-width: 550px;    */
      /* margin-top: 20px;  */
      
    position: relative;
     display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 40px;
   
   
}

.rounded-shap{
     width: 100%; 
     max-width: 420px; 
    margin-top: 5%;
    height: auto;
   
    
}

.microphone{
    width: 116px;
    margin-top: 3%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.microphone-section:hover{
    transform:  scale(1.2) ;
    transition: 3s;
}



.microphone-section span{
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 50px;
    color: #1A0B2E;
    font-size: 1.12rem;
    font-weight: 600;
    position: absolute;
    left: 60%;
    top: 20%;
}

/* .techWabe-section{
    max-width: 550px; */


.techWabe-section h1{
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.techWabe-section p{
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
}

.button{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 101px;
}

/* podact related styles */
.Podcast-section{
    margin-top: 50px;
     color: #FFFFFF;
}

.section-title{
    color: #FFFFFF;
    text-align: center;
}


.poduct-discription{
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
}

hr{
    margin-top: 80px;
    margin-bottom: 80px;
    stroke-opacity: #3d383800;
    align-items: center;
}

.card-containar{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    margin-bottom: 120px;
    
}
.techwabe-card:hover{
    transform: scale(1.2) rotate(8deg);
    transition:  3s;
}

.card{
    text-align: center;

}

.card h1{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}

.card p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

/* techWave-layout-section related style */
.techWave-layout-section{
    color: #FFFFFF;
    background-color: #230E3D;
}

.techwabe-containar{
     padding: 120px 0;

}

.section-heading {
    
    text-align: center;
    font-size: 3rem;
     font-weight: 700; 
}

.techwabe-card{
    /* border: 2px solid red; */
    padding: 40px;
    background-color: #351165;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
     
}

.techwabe-card img{
    max-width: 60px;
    max-height: 60px;
    margin-bottom: 16px;

}
.techwabe-card h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.techwabe-card p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.techwae-layout{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    margin-top: 24px;
    gap: 30px;


}
.techwae-layout div:nth-child(1){
    grid-column: span 1; 
    grid-row: span 2;  
}

.techwae-layout div:nth-child(2){
    grid-column: span 2;
    grid-row: span 1;
}

.techwae-layout div:nth-child(3){
     grid-column: span 2;
     grid-row: span 1;
}

.techwae-layout div:nth-child(4){
     grid-column: span 2;
     grid-row: span 1;
}

.techwae-layout div:nth-child(5){
    grid-column: span 1; 
    grid-row: span ;  
}

/* Featured-Episodes-section related styles */
.Featured-Episodes-section{
    color: #FFFFFF;
}

.Featured-Episodes{
    padding: 120px 0;

}

.episodes-card{
    max-width: 380px;
     /* border: 2px solid red;  */
     border-radius: 50px;
}

.episodes-card iframe{
    max-width: 380px;
    max-height: 214px;
    border-radius: 20px;
}

.ifrem-taitle{
    background-color: #250D44;
    padding: 24px;
}

.ifrem-taitle h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 12px;
}

.ifrem-taitle p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 12px;
}

.ifrem-taitle h5{
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    color: #00FF88;
}

.episodes-card-containar{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}

.meet-host{
    background-color: #351165;
    padding: 40px;
    gap:24px ;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 120px;
}

.meet-host-icon{
    margin-top: 16px;
    max-width: 184px;
    display: flex;
    justify-content: space-between;
   
}

.meet-host-icon >div{
    max-width: 40px;
    /* padding: 12.5px 11.67px  12.5px 12.45px; */
    padding: 10px;
    border: 2px solid #533C72;
    border-radius: 100%;
}

.meet-host-icon img{
    margin: 2px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Alex-kumar{
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.Alex-kumar-discription{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 16px;
   
}

/* footer related styles */

.footer-section{
    background: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    background-position: center;
    

}

.footer-contant{
    max-width: 1360px;
    margin:0 auto ;
    text-align: center;
    padding: 120px 0; 
}

.footer-section h1{
    font-size: 3.75rem;
    font-weight: bold;
}

.footer-icon{
    max-width: 544px;
    margin: 0 auto;
    color: #FFFFFF;
    display:grid;
    grid-template-columns: repeat(4,1fr);
     /* justify-content: space-between;  */
    margin-top: 32px;
    margin-bottom: 32px;

}

.icon{
    display: flex;
    gap: 8px;
}





/* responsive design for mobail */
@media screen and (max-width:776px) {
    .hember-icon{
        display: ;
    }

    .nav-links ,
    .leaniar-graydiand{
        display: none;
    }
    
    .bennar{
        background-size: 100%;
    }

    .rounded-shap {
    /* width: 100%; */
    max-width: 200px;
     margin-top: 15%;
    height: auto; */
}

 .microphone-section{
    padding: 0px;
}

.microphone{
    max-width: 47px;
    margin-top: 7%;
    
}

/* .rounded-shap{
    margin-top: px;
} */

/* .microphone{
    margin-top: 1%;
}  */

.microphone-section span{
    left: 60%;
    top: 22%;
}

.poduct-discription{
    padding: 20px;
}

.card-containar{
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}

.techwae-layout,
.episodes-card-containar{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
     gap: 40px; 
} 

.techwae-layout div:nth-child(1){
    grid-row: span 1;
}

.meet-host{
    flex-direction: column;
}

.Alex-kumar,
.Alex-kumar-discription {
    text-align: center;
}

.meet-host-icon {
    margin: 0 auto;
}

.footer-section{
    background-size: 100%;
    background: url(./assets/Image.png);
    background-position: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}



.footer-icon{
    max-width: 255px;
    margin: 0 auto;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,2fr);
    gap: 20px;
    justify-items: center;
    margin-bottom: 50px;
}
}






@media screen and (min-width:772px) and (max-width:1200px) {
    .hember-icon{
       display: none;
       
}
.microphone-section span{
    left:65%;
    top: 18%;
}
    
}

@media screen and (min-width:1200px) and (max-width:2000px) {
    .hember-icon{
        display: none;
    }    
}